body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', serif;
  height: 100vh;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  z-index: -3;
}

body::-webkit-scrollbar {
  width: calc(0 * 100vw / 1536);
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#bg-video.show {
  opacity: 1;
}

.vantaWallpaper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  pointer-events: none;
  user-select: none;
}

.loadPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #07192f;
  z-index: 999999;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.5s ease-in-out,
    visibility 0.5s ease;
}

.loadPage.fadeOut {
  opacity: 0;
  visibility: hidden;
}

.loadPage .text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-top: auto;
  color: white;
  font-weight: 900;
  font-size: calc(55 * 100vmin / 730);
  text-align: center;
  user-select: none;
}

.loadPage .pronounChange {
  width: 6ch;
  text-align: right;
  background: -webkit-linear-gradient(45deg, purple, #c471ed, aqua);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.loadPage .pronounChange.change {
  opacity: 0;
}

.moto {
  word-spacing: 0.25vw;
  padding-right: 2.5ch;
}

.getLocation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  user-select: none;
  position: relative;
  margin-top: 6vh;
}

.geolocation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(25 * 100vh / 730);
  width: calc(25 * 100vh / 730);
  background-color: transparent;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.geolocation img {
  height: calc(25 * 100vh / 730);
  width: calc(25 * 100vh / 730);
  filter: invert(100%) brightness(100%);
}

.geolocation:hover img {
  filter: invert(20%) sepia(100%) saturate(5000%) hue-rotate(265deg)
    brightness(85%) contrast(105%);
}

.error,
.bodyError {
  background-color: #ff0000ea;
  border-radius: calc(5 * 100vmin / 730);
  height: fit-content;
  color: white;
  font-weight: 500;
  font-size: calc(15 * 100vmin / 730);
  text-align: center;
  user-select: none;
  padding: calc(5 * 100vmin / 730);
  opacity: 0;
  transform: scale(0.85);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  margin-top: 3vh;
}

.error.display,
.error.loading,
.bodyError.display {
  opacity: 1;
  transform: scale(1);
}

.bodyError.display,
.bodyError {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.error.loading {
  background-color: transparent;
  color: white;
  font-weight: normal;
  font-size: calc(15 * 100vmin / 730);
  text-align: center;
}

.manualLocation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#locationBox {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) (10px);
  padding: calc(8 * 100vh / 730) calc(15 * 100vw / 1536);
  color: white;
  text-align: center;
  border-bottom: solid calc(3 * 100vh / 730) transparent;
  border-top-left-radius: calc(10 * 100vmin / 730);
  border-top-right-radius: calc(10 * 100vmin / 730);
  font-size: calc(20 * 100vmin / 730);
  width: calc(156.175 * 100vw / 1536);
  border-image: linear-gradient(to right, purple, #c471ed, aqua);
  border-image-slice: 1;
  box-sizing: content-box;
}

#locationBox::placeholder {
  font-weight: normal;
}

.loadingIcon {
  height: calc(25 * 100vh / 730);
  width: calc(25 * 100vh / 730);
  background-color: transparent;
  border-left: solid calc(4 * 100vmin / 730) aqua;
  border-right: solid calc(4 * 100vmin / 730) #ffffff25;
  border-top: solid calc(4 * 100vmin / 730) #ffffff25;
  border-bottom: solid calc(4 * 100vmin / 730) #ffffff25;
  border-radius: 100%;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 3vh;
  margin-top: 2vh;
  animation: spin 1.5s linear infinite reverse;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.loadingIcon.loading {
  opacity: 1;
}

.content {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  padding: calc(25 * 100vmin / 730);
  margin-bottom: calc(16 * 100vh / 730);
  position: relative;
}

.navLeftWrapper,
.navRightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navLeft,
.prediction,
.navRight,
.locationData,
.tempBig {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16161650;
  backdrop-filter: blur(5px);
  padding: calc(6 * 100vmin / 730);
  padding-left: calc(15 * 100vw / 1536);
  padding-right: calc(15 * 100vw / 1536);
  border-radius: calc(20 * 100vmin / 730);
}

.navLeft {
  min-width: calc(190.15 * 100vw / 1536);
  user-select: none;
}

.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(25 * 100vh / 730);
  width: calc(25 * 100vh / 730);
  border: none;
  border-radius: 100%;
  user-select: none;
  cursor: pointer;
}

.refresh img {
  height: calc(25 * 100vh / 730);
  width: calc(25 * 100vh / 730);
  filter: invert(100%) brightness(80%);
}

.refresh:hover img,
.refresh.on img {
  filter: invert(70%) sepia(96%) saturate(2500%) hue-rotate(130deg)
    brightness(150%) contrast(102%) drop-shadow(0 0 2px aqua);
}

.refresh.on img {
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.prediction {
  display: flex;
  flex-direction: column;
  gap: calc(5 * 100vh / 730);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(45 * 100vh / 730);
  width: calc(170 * 100vw / 1536);
  border-radius: calc(10 * 100vmin / 730);
  user-select: none;
  background: linear-gradient(to right, #ee097999, #ff6a0099);
}

.predictionTitle {
  color: white;
  font-weight: bold;
  font-size: calc(16 * 100vmin / 730);
  text-align: center;
}

.description {
  color: rgb(205, 205, 205);
  font-size: calc(14 * 100vmin / 730);
  text-align: center;
}

.navRight {
  gap: calc(8 * 100vw / 1536);
  padding-right: calc(8 * 100vw / 1536);
  padding-left: calc(8 * 100vw / 1536);
  user-select: none;
}

.locationDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(10 * 100vw / 1536);
  color: white;
  font-weight: bold;
  font-size: calc(16 * 100vmin / 730);
  cursor: default;
}

.locationDetail .weatherIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(25 * 100vh / 730);
  width: calc(25 * 100vh / 730);
}

.locationDetail .weatherIcon img {
  height: calc(25 * 100vh / 730);
  width: calc(25 * 100vh / 730);
}

.locationDetail .locationName {
  border-right: solid calc(2 * 100vw / 1536) white;
  box-sizing: border-box;
  padding-right: calc(10 * 100vw / 1536);
}

.locationData {
  display: flex;
  flex-direction: column;
  gap: calc(10 * 100vh / 730);
  position: absolute;
  top: calc(45 * 100vh / 730);
  font-size: calc(16 * 100vmin / 730);
  border-radius: calc(10 * 100vmin / 730);
  opacity: 0;
  visibility: hidden;
  transform: scale(65%);
  user-select: none;
  transition:
    opacity 0.3s ease,
    transform 0.5s ease,
    visibility 0.5s ease;
}

.navLeftWrapper:hover > .locationData,
.locationData:hover {
  opacity: 1;
  visibility: visible;
  transform: scale(100%);
}

.locationData .coordinates {
  display: flex;
  gap: calc(30 * 100vw / 1536);
}

.latitude,
.longitude {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(5 * 100vh / 730);
}

.latitudeData,
.longitudeData,
.currentTime,
.timeZone {
  color: rgb(205, 205, 205);
  font-size: calc(14 * 100vmin / 730);
}

.locationData .coordinates p.heading,
.timeText,
.zoneText {
  color: white;
  font-size: calc(14 * 100vmin / 730);
  font-weight: bold;
  margin: 0;
}

.locationData .time,
.locationData .zone {
  margin-right: auto;
}

#searchCity {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid calc(1 * 100vh / 730) transparent;
  border-image: linear-gradient(to right, purple, #c471ed, aqua);
  border-image-slice: 1;
  color: white;
  font-size: calc(16 * 100vmin / 730);
  width: calc(156.175 * 100vw / 1536);
}

#searchCity::placeholder {
  color: rgb(212, 212, 212, 0.8);
}

.searchCityButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(25 * 100vh / 730);
  width: calc(25 * 100vh / 730);
  background-color: transparent;
  border: none;
  border-radius: 100%;
}

.searchCityButton img {
  height: calc(25 * 100vh / 730);
  width: calc(25 * 100vh / 730);
  filter: invert(100%);
  cursor: pointer;
}

.searchCityButton img:hover {
  filter: invert(70%) sepia(96%) saturate(2500%) hue-rotate(130deg)
    brightness(101%) contrast(102%);
}

.weatherIndicator {
  position: fixed;
  top: 25vh;
  left: 1vw;
  display: flex;
  flex-direction: column;
  gap: calc(50 * 100vh / 730);
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(10px);
  padding: calc(25 * 100vmin / 730) calc(5 * 100vw / 1536);
  border-radius: calc(25 * 100vmin / 730);
  user-select: none;
  cursor: default;
}

.heatWave,
.rainStorm,
.hurricane,
.snowStorm,
.alertIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(35 * 100vh / 730);
  width: calc(35 * 100vh / 730);
}

.heatWave img,
.rainStorm img,
.hurricane img,
.snowStorm img,
.alertIcon img {
  height: calc(35 * 100vh / 730);
  width: calc(35 * 100vh / 730);
  filter: invert(100%) brightness(50%);
}

.alertIcon.on img {
  filter: invert(20%) sepia(100%) saturate(5000%) hue-rotate(0deg)
    brightness(150%) contrast(100%) drop-shadow(0 0 2px red)
    drop-shadow(0 0 2px red);
}

.heatWave.on img {
  filter: invert(50%) sepia(100%) saturate(5000%) hue-rotate(0deg)
    brightness(150%) contrast(100%) drop-shadow(0 0 1px darkOrange)
    drop-shadow(0 0 2px darkOrange);
}

.rainStorm.on img {
  filter: invert(70%) sepia(96%) saturate(2500%) hue-rotate(130deg)
    brightness(150%) contrast(102%) drop-shadow(0 0 1px aqua)
    drop-shadow(0 0 2px aqua);
}

.hurricane.on img {
  filter: invert(100%) brightness(150%) drop-shadow(0 0 1px white)
    drop-shadow(0 0 2px white);
}

.snowStorm.on img {
  filter: invert(46%) sepia(96%) saturate(1918%) hue-rotate(185deg)
    brightness(150%) contrast(102%) drop-shadow(0 0 2px rgb(0, 145, 255))
    drop-shadow(0 0 2px rgb(0, 145, 255));
}

.locationConditions {
  margin-bottom: calc(28 * 100vh / 730);
}

.locationConditions,
.tempBig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(10 * 100vh / 730);
}

.tempBig {
  border-radius: calc(15 * 100vmin / 730);
  padding: calc(15 * 100vmin / 730);
  padding-left: calc(35 * 100vw / 1536);
  padding-right: calc(35 * 100vw / 1536);
  height: fit-content;
  gap: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(10px);
  user-select: none;
}

.realTemp {
  font-size: calc(70 * 100vmin / 730);
  font-weight: 600;
  color: white;
}

.feelsLike {
  font-size: calc(16 * 100vmin / 730);
  color: white;
}

.moreConditions {
  display: grid;
  grid-template: 1fr 1fr / repeat(6, 1fr);
  gap: calc(10 * 100vh / 730) calc(10 * 100vw / 1536);
  opacity: 0;
  transform: scale(0.85);
  transition:
    transform 0.3s ease-in-out,
    opacity 0.2s ease;
}

.moreConditions.scale {
  opacity: 1;
  transform: scale(1);
}

.moreConditions .conditionData {
  padding: calc(15 * 100vmin / 730);
  padding-left: calc(25 * 100vw / 1536);
  padding-right: calc(25 * 100vw / 1536);
  background-color: #16161650;
  /*background: linear-gradient(135deg, #00800050, #80008050);*/
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: calc(15 * 100vmin / 730);
  gap: calc(10 * 100vh / 730);
  color: white;
  user-select: none;
}

.conditionData .dataImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(55 * 100vh / 730);
  width: calc(55 * 100vh / 730);
}

.conditionData .dataImg img {
  height: calc(45 * 100vh / 730);
  width: calc(45 * 100vh / 730);
  filter: invert(100%);
}

.conditionData:nth-child(1) .dataImg img {
  filter: invert(0);
}

.dataWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conditionData:nth-child(1) .dataWrapper {
  white-space: nowrap;
  max-width: calc(65.787 * 100vh / 730);
  overflow: hidden;
  position: relative;
}

.conditionData:nth-child(1) .dataWrapper.animate .textData {
  animation: scroll-left 8s linear infinite;
  padding-left: 100%;
}

@keyframes scroll-left {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.conditionData:nth-child(1) .textData {
  display: inline-block;
  white-space: nowrap;
  position: relative;
}

.conditionData:nth-child(5) .dataImg {
  background: #000000af;
  border: none;
  border-radius: 100%;
}

.conditionData:nth-child(5) .dataImg img {
  height: calc(65 * 100vh / 730);
  width: calc(65 * 100vh / 730);
  filter: invert(100%) blur(1px) brightness(2) drop-shadow(0 0 5px white);
}

.conditionData .imgText {
  color: rgb(205, 205, 205);
  font-size: calc(16 * 100vmin / 730);
}

.conditionData .textData {
  font-weight: bold;
  font-size: calc(16 * 100vmin / 730);
  text-align: center;
}

.visualDetailBox,
.hourlyDataToday,
.upcomingForecast {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(28 * 100vh / 730);
}

.visualDetailBox {
  max-width: calc(970.55 * 100vw / 1536);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-around;
}

.aqi {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: saturate(180%) blur(10px) !important;
  user-select: none;
}

.aqi .title {
  flex: 1;
  display: flex;
  align-items: center;
}

.aqi .titleText {
  color: rgb(205, 205, 205);
  font-size: calc(12 * 100vmin / 730);
  text-align: left;
}

.aqi .titleHr hr {
  flex: 1;
  border-color: rgb(205, 205, 205);
  margin: calc(3 * 100vw / 1536) auto;
}

.aqi .levelOfConcern {
  flex: 1;
  display: flex;
  align-items: center;
  gap: calc(5 * 100vw / 1536);
  font-weight: bold;
  color: white;
  font-size: calc(18 * 100vmin / 730);
}

.aqi .levelDetail {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(30.4 * 100vh / 730);
  overflow: hidden;
  position: relative;
}

.aqi .levelDetail span {
  color: rgb(205, 205, 205);
  font-size: calc(13 * 100vmin / 730);
}

.aqi .levelDetail.animate span {
  animation: scroll-up 4s linear infinite;
}

@keyframes scroll-up {
  0% {
    transform: translateY(75%);
  }
  100% {
    transform: translateY(-80%);
  }
}

.qualityScale {
  flex: 1;
}

.leftAqiHr hr,
.rightAqiHr hr {
  border: none !important;
}

.levelIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(10 * 100vh / 730);
  width: calc(10 * 100vh / 730);
}

.levelIndicator div {
  background-color: red;
  border: none;
  border-radius: 100%;
  height: calc(10 * 100vh / 730);
  width: calc(10 * 100vh / 730);
}

.leftAqiHr hr.good {
  background: linear-gradient(to right, #00ff00);
}

.leftAqiHr hr.moderate {
  background: linear-gradient(to right, #00ff00, yellow);
}

.leftAqiHr hr.bad {
  background: linear-gradient(to right, #00ff00, yellow, orange);
}

.leftAqiHr hr.unhealthy {
  background: linear-gradient(to right, #00ff00, yellow, orange, red);
}

.leftAqiHr hr.veryUnhealthy {
  background: linear-gradient(to right, #00ff00, yellow, orange, red, #bf40bf);
}

.leftAqiHr hr.hazardous {
  background: linear-gradient(to right, #00ff00, yellow, orange, red, #bf40bf);
}

.rightAqiHr hr.good {
  background: linear-gradient(to right, yellow, orange, red, #bf40bf, #800022);
}

.rightAqiHr hr.moderate {
  background: linear-gradient(to right, orange, red, #bf40bf, #800022);
}

.rightAqiHr hr.bad {
  background: linear-gradient(to right, orange, red, #bf40bf, #800022);
}

.rightAqiHr hr.unhealthy {
  background: linear-gradient(to right, red, #bf40bf, #800022);
}

.rightAqiHr hr.veryUnhealthy {
  background: linear-gradient(to right, #bf40bf, #800022);
}

.rightAqiHr hr.hazardous {
  background: linear-gradient(to right, #800022);
}

.levelIndicator div.good {
  background: linear-gradient(to right, #00ff00, yellow);
}

.levelIndicator div.moderate {
  background: linear-gradient(to right, yellow, orange);
}

.levelIndicator div.bad {
  background: linear-gradient(to right, orange, red);
}

.levelIndicator div.unhealthy {
  background: linear-gradient(to right, red);
}

.levelIndicator div.veryUnhealthy {
  background: linear-gradient(to right, #bf40bf);
}

.levelIndicator div.hazardous {
  background: linear-gradient(to right, #bf40bf, #800022);
}

.sunStatusCover,
.aqi {
  display: flex;
  flex-direction: column;
  gap: calc(4 * 100vh / 730);
  /* background-color: #16161650; */
  background: linear-gradient(90deg, #ff0000ab, #0000ffab);
  backdrop-filter: blur(10px);
  border-radius: calc(15 * 100vmin / 730);
  padding: calc(10 * 100vmin / 730);
  padding-left: calc(25 * 100vw / 1536);
  padding-right: calc(25 * 100vw / 1536);
  height: calc(112.325 * 100vh / 730);
  max-width: calc(280 * 100vw / 1536);
  user-select: none;
}

.sunStatusCover.sunDown {
  background: linear-gradient(90deg, #0000ff75, #ff000075);
}

.riseSet,
.riseSetTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rise,
.set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.riseImage,
.setImage,
.travel .sun {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(35 * 100vh / 730);
  width: calc(35 * 100vh / 730);
}

.riseImage img,
.setImage img {
  height: calc(35 * 100vh / 730);
  width: calc(35 * 100vh / 730);
  filter: invert(100%);
}

.travel .sun img {
  height: calc(85 * 100vh / 730);
  width: calc(85 * 100vh / 730);
}

.riseText,
.setText {
  color: rgb(205, 205, 205);
  font-size: calc(13 * 100vmin / 730);
}

.travel,
.qualityScale {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(3 * 100vw / 1536);
}

.lineLeft,
.lineRight,
.leftAqiHr,
.rightAqiHr {
  flex: 1;
}

.lineLeft hr,
.lineRight hr,
.leftAqiHr hr,
.rightAqiHr hr {
  flex: 1;
  height: calc(8 * 100vh / 730);
  /* width: calc(120 * 100vw / 1536); */
  margin: 0;
  border-radius: calc(15 * 100vmin / 730);
  border: solid calc(2 * 100vmin / 730) transparent;
  box-sizing: border-box;
  transition: width 0.5s ease;
}

.lineLeft hr.morning {
  border-color: aquamarine;
}

.lineLeft hr.evening {
  border-color: yellow;
}

.lineLeft hr.night {
  border-color: aqua;
  background-color: aqua;
}

.lineLeft hr.dawn {
  border-color: orange;
  background-color: orange;
}

.lineRight hr.morning {
  border-color: aquamarine;
  background-color: aquamarine;
}

.lineRight hr.evening {
  border-color: yellow;
  background-color: yellow;
}

.lineRight hr.night {
  border-color: aqua;
}

.lineRight hr.dawn {
  border-color: orange;
}

.travel .sun {
  max-width: calc(35 * 100vh / 730);
}

.travel .sun .sunImage {
  filter: invert(50%) sepia(90%) saturate(1200%) hue-rotate(15deg)
    brightness(120%) contrast(120%);
}

.travel .sun .moonImage {
  height: calc(85 * 100vh / 730);
  width: calc(85 * 100vh / 730);
}

.riseTime,
.setTime {
  color: white;
  font-weight: bold;
  font-size: calc(16 * 100vmin / 730);
}

.hourlydataWrapper {
  display: flex;
  align-items: center;
  gap: calc(25 * 100vw / 1536);
  background-color: #16161650;
  backdrop-filter: blur(10px);
  border-left: solid calc(10 * 100vw / 1536) transparent;
  border-right: solid calc(10 * 100vw / 1536) transparent;
  border-radius: calc(15 * 100vmin / 730);
  padding: calc(10 * 100vmin / 730);
  height: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  max-width: calc(915 * 100vw / 1536);
  user-select: none;
}

.hourlydataWrapper::-webkit-scrollbar {
  height: calc(0 * 100vh / 730);
}

.hourlydataWrapper::-webkit-scrollbar-track {
  margin: 0 calc(30 * 100vw / 1536);
  background-color: transparent;
}

.hourlydataWrapper::-webkit-scrollbar-thumb {
  background-color: #ffffff50;
  border-radius: calc(15 * 100vmin / 730);
}

.timeToday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(10 * 100vh / 730);
  padding: calc(10 * 100vmin / 730);
  padding-left: calc(15 * 100vmin / 730);
  padding-right: calc(15 * 100vmin / 730);
}

.timeToday.inView {
  background-color: #00000050;
  border-radius: calc(15 * 100vmin / 730);
}

.hourToday {
  color: white;
  font-weight: bold;
  font-size: calc(16 * 100vmin / 730);
}

.hourlyWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(55 * 100vh / 730);
  width: calc(55 * 100vh / 730);
}

.hourlyWeather img {
  height: calc(55 * 100vh / 730);
  width: calc(55 * 100vh / 730);
}

.hourlyTemperature {
  color: white;
  font-weight: bold;
  font-size: calc(16 * 100vmin / 730);
}

.precipitationPercent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropImg {
  height: calc(20 * 100vh / 730);
  width: calc(20 * 100vh / 730);
  filter: invert(70%) sepia(96%) saturate(2500%) hue-rotate(130deg)
    brightness(150%) contrast(102%) drop-shadow(0 0 1px aqua)
    drop-shadow(0 0 2px aqua);
}

.spanPercent {
  color: white;
  font-size: calc(16 * 100vmin / 730);
}

.upcomingForecastWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(10 * 100vh / 730);
  border-radius: calc(15 * 100vmin / 730);
  padding: calc(15 * 100vmin / 730);
  padding-left: calc(35 * 100vw / 1536);
  padding-right: calc(35 * 100vw / 1536);
  height: fit-content;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(5px);
  user-select: none;
  max-width: calc(915 * 100vw / 1536);
}

.daysForecast {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(50 * 100vw / 1536);
  /* min-width: 100%; */
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(10 * 100vw / 1536);
}

.calendarDate,
.calendarDay,
.minTemperature,
.maxTemperature {
  color: white;
  font-weight: bold;
  font-size: calc(16 * 100vmin / 730);
}

.calendarDate {
  text-align: right;
}

.calendarDay {
  text-align: left;
  width: calc(80 * 100vw / 1536);
}

.conditionForecast,
.moonphaseForecast {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(40 * 100vh / 730);
  width: calc(40 * 100vh / 730);
}

.conditionForecast img {
  height: calc(40 * 100vh / 730);
  width: calc(40 * 100vh / 730);
}

.minMaxTemperature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(5 * 100vw / 1536);
  width: calc(100 * 100vw / 1536);
}

.forwardSlash {
  color: rgb(205, 205, 205, 0.75);
  font-size: calc(16 * 100vmin / 730);
}

.daysForecast .precipitationPercent {
  width: calc(70 * 100vw / 1536);
}

.daysForecast .precipitationPercent .spanPercent {
  color: white;
  font-weight: bold;
  font-size: calc(16 * 100vmin / 730);
}

.moonphaseForecast {
  background-color: #000000af;
  border: none;
  border-radius: 100%;
}

.moonphaseForecast {
  height: calc(30 * 100vh / 730);
  width: calc(30 * 100vh / 730);
}

.moonphaseForecast img {
  filter: invert(100%) blur(0.5px) brightness(2) drop-shadow(0 0 2px white);
  height: calc(35 * 100vh / 730);
  width: calc(35 * 100vh / 730);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16161675;
  backdrop-filter: saturate(180%) blur(10px);
  padding: calc(15 * 100vh / 730) 0;
}

.copyrightDetails {
  color: white;
  font-size: calc(16 * 100vmin / 730);
  text-align: center;
}

.copyrightDetails a {
  text-decoration: none;
  font-weight: bold;
  color: aqua;
}

.copyrightDetails a:hover {
  text-shadow:
    0 0 2px aqua,
    0 0 2px aqua;
}

.copyrightDetails a + a {
  text-decoration: none;
  color: rgb(2, 169, 116);
}

.copyrightDetails a + a:hover {
  text-shadow:
    0 0 2px green,
    0 0 2px green;
}
